/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #e9a2e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style: none;
}

.question-page {
  background-color: #e9a2e9;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.questions-start {
  background-color: #EA4C89;
  color: white;
  border-radius: 5px;
}

.questions-start:hover,
.questions-start:focus {
  background-color: #F082AC;
}

.home {
margin-top: 12%
}

.neutral-button {
  /* background-color: #61dafb;
  display: block;

  border-radius:5px; */
  background-color: #EA4C89;
  color: white;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  height: auto;
  width: 500px;  font-size: 22px;
  box-sizing: border-box;
  margin: 10px 300px;
  outline: none;
  padding: 15px 20px;
  display: inline-block;

}


.next-button {
  background-color: white;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  height: 40px;
  width: 60px;
  font-size: 18px;
  display: block;
  margin-left: 50%;
}

.question {
  background-color: white;
  color: #EA4C89;
  width: 80%;
  padding: 10px;
  margin: auto;
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center; 
 margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}
@media only screen and (min-width: 275px) and (max-width: 800px) {
  .question{   
    box-sizing: border-box; 
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 15%;
  }

}
/* @media screen and (min-width: 600px) {
  .question {
    background-color: white;
    color: #EA4C89;
    padding: 10px;
    margin: 10px 60px;
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
}  */

.neutral-button:hover,
.neutral-button:focus {
  background-color: #F082AC;
}

@media only screen and (min-width: 275px) and (max-width: 800px) {
  .neutral-button{   
    box-sizing: border-box; 
    width: 75%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 15%;
  }

}

.rightAnswer {
  background-color: #3CB371;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  height: auto;
  width: 500px;  font-size: 22px;
  box-sizing: border-box;
  margin: 10px 300px;
  outline: none;
  padding: 15px 20px;
}

@media only screen and (min-width: 275px) and (max-width: 800px) {
  .rightAnswer{   
    box-sizing: border-box; 
    width: 75%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 15%;
  }

}

.wrongAnswer {
  background-color: #DC143C;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  height: auto;
  width: 500px;
  font-size: 22px;
  box-sizing: border-box;
  margin: 10px 300px;
  outline: none;
  padding: 15px 20px;

}
@media only screen and (min-width: 275px) and (max-width: 800px) {
  .wrongAnswer{   
    box-sizing: border-box; 
    width: 75%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 15%;
  }

}

h6 {
  padding: 0;
}



a:link {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 0;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 100px;
  width: 120px;

}




@keyframes App-logo-spin {
  100% {
    -webkit-transform: rotatey(360deg);
    transform: rotatey(360deg);
  }
}


 /* RESOURCES PAGE */
 .resource {
   background-color: #090935;
   color: rgb(139, 218, 250);
   font-family: Kodchasan, sans-serif;
   height: 78vh;
   width: 110vh;
   padding: 5px;
   border-radius: 10px;
   margin-top: 100px;
 }


 .resource h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
 .resource h6 {
   padding-left: 220px;
   margin-top: 6px;
   font-size: 14px;
   width: 70%;
   overflow-wrap: break-word;
 }

 .button-link {
  background-color: rgb(139, 218, 250);
  color: rgb(29, 30, 32);
  border-radius: 20px;
  border-style: none;
  font-size: 18px;
  padding: 10px 20px;
}

/* .resource hr { */
  hr {
    width: 100%;
    height: 1px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom:40px;
    background-color:rgb(70, 65, 65);
 }
/* } */
 /* .card {
  height: 400px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  border: 4px solid #b0215e;
  margin-bottom: 20px; 
   background-image: url('https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80'); 
    background-size: cover;
  } */


 /* Navbar */
.navbar {
  position: sticky;
   top: 0;
   left: 0;
  position: fixed;
  width: 100%;
  /* top: 0;
  left: 0; */
  display: flex;
  background-color: #d17fd1;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  opacity: 0.9;
  margin-bottom: 1rem;
  /* overflow: hidden; */
}

.navbar ul {
  display: flex;
  /* margin-left: 500px */
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
/* .navbar h6 {
  padding-right: 400px; */
  /* padding: 0; */
  /* margin: 0;
} */

.navbar a:hover {
  color: var(--light-color);
}

@media only screen and (min-width: 275px) and (max-width: 800px) {
  .navbar{   
    box-sizing: border-box; 
    width: 80%;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    padding-top: 60px;
    padding-bottom: 50px;
    margin-left: 10%;
  }

  .navbar a {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 15%;
  }

  .resource {
    width: 80%
  }
}

.about {
  margin-top: 170px;
  /* display: block; */
}

.about a {
  color:rgb(30, 36, 116);
  font-size: 26px;
  font-weight: bold;
  margin: 15px;
  /* margin-bottom: 20px;
  padding-bottom: 20px; */
  display: block;
}

.about h5 {
  margin: 25px;
}

.start:hover{
  color: rgb(165, 11, 179);
}
/* .navbar .welcome span {
  margin-right: 0.6rem;
} */
 /* @mixin media() {
  @media (min-width: 768px) {
      @content;
  }
}

body, html {
font-family: 'Vollkorn', serif;
font-weight: 400;
line-height: 1.3;
font-size: 16px;
}

.siteTitle {
display: block;
font-weight: 900;
font-size: 30px;
margin: 20px 0;

@include media {
  font-size: 60px;
}
}

header,
main,
footer {
max-width: 960px;
margin: 0 auto;
}

.card {
height: 400px;
position: relative;
padding: 20px;
box-sizing: border-box;
display: flex;
align-items: flex-end;
text-decoration: none;
border: 4px solid #b0215e;
margin-bottom: 20px; */
/* background-image: url('https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80'); */
  /* background-size: cover;

@include media {
  height: 500px;
}
}

.inner {
height: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
background: white;
box-sizing: border-box;
padding: 40px;

@include media {
  width: 50%;
  height: 100%;
}
}

.title {
font-size: 24px;
color: black;  
text-align: center;
font-weight: 700;
color: #181818;
text-shadow: 0px 2px 2px #a6f8d5;
position: relative;
margin: 0 0 20px 0;

@include media {
  font-size: 30px;
}
}

.subtitle {
color: #b0215e;
text-align: center;
}

.card2 {
background-image: url('https://images.unsplash.com/photo-1496317556649-f930d733eea3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}

.card3 {
background-image: url('https://images.unsplash.com/photo-1557576842-3bc6093a5085?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}

footer {
display: flex;
justify-content: center;
margin: 40px 0;
}

.footerLink {
margin-right: 12px;
color: #181818;
text-decoration: none;
position: relative; */

/* &:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(#b0215e, 0.3);
  left: 0;
  bottom: 0;
}

&:last-child {
  margin-right: 0;
} */
/* } */